{% extends "CrossTable/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Setup1 {% endblock %}</title>
</head>
<body>
    {% block content %}
    
    
    
    
    {% for i in quesion_0_possible_answers_number %}
    {{i}}
    {% endfor %}
    <br>
    {% for i in questions_number %}
    {{i}}
    {% endfor %}

    {% endblock %}
</body>
</html>