{% extends "CrossTable/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Setup1 {% endblock %}</title>
</head>
<body>
    {% block content %}
    
    
    <center>
    
    <form action="{% url 'CrossTable:result' quesion_0_possible_answers_number_int questions_number_int %}" method="POST" id="form1">
    {% csrf_token %}
    Root question column (paste from Excel)
    <br>
    <textarea placeholder="Paste root question column" id="tentacles" name="quesion_0_column"></textarea>
    
    <br>
    Answers for root question
    {% for i in quesion_0_possible_answers_number %}
    <fieldset>
    
        
    {{i}}. <input type="text" id="tentacles" name="quesion_0_answer_{{i}}"/>


    </fieldset>
    {% endfor %}

    Answers for questions columns (paste from Excel)
    <br>
    {% for i in questions_number %}

    <textarea placeholder="Paste question {{i}} column" id="tentacles" name="quesion_{{i}}_column"></textarea>

    {% endfor %}
    <br>
    Answers for questions that will be croosed with root question
    {% for i in questions_number %}
    <fieldset>
        
    {{i}}. <input type="text" id="tentacles" name="quesion_answer_{{i}}"/>

</fieldset>
    

    
    {% endfor %}
    <button type="submit" form="form1" value="Submit">Submit</button>
</form>
</center>
    {% endblock %}
</body>
</html>